#nav .menus_items {
    position: absolute;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}
/*顶栏美化*/
#nav .site-page {
  font-size: 1.0em; /*字体大小*/
  letter-spacing: 2px; /*字体间距*/
  font-weight: 600; /*字体粗细*/
}

#nav {
  height: 100px; /*顶栏高度调整*/
}
#page-header.nav-fixed #nav {
  top: -70px; /*顶栏调整空缺补齐*/
}

.menus_item_child li:not(#sidebar-menus li){
    float: left;
    border-radius: 6px!important;
    -webkit-border-radius: 6px!important;
    -moz-border-radius: 6px!important;
    -ms-border-radius: 6px!important;
    -o-border-radius: 6px!important;
}
.menus_item_child:not(#sidebar-menus ul){
  /*
    left:calc(-150%)!important;这是估算值，为了保持元素居中的，如果不合适可以自己调
  在网友的建议下，改为：*/
  left:50%;
  translate:-50%;
}

